/*
Theme Name: kzak-simple-blog-theme
Theme URI: 
Author: sakadonohito
Author URI: 
Description: sakadonohito's original thema
Version: 1.0
License: MIT
License URI: 
Tags: Simple
Text Domain: blogsite
*/

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #000000;
  width: 100%;
  height: 100vh; }

div.wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column; }

.flexbox-wrapper-column {
  display: flex;
  flex-direction: column; }

.flexbox-wrapper-row {
  display: flex;
  flex-direction: row; }

header.site-main {
  display: flex;
  flex-direction: column; }

header.site-main div.header-image-main {
  position: relative;
  width: 100%;
  height: calc(100vh/3); }

header.site-main div.header-image-main img + .site-title{
	position: absolute;
	top: 30%;
	left: calc(100vw/9);
	font-size: 3rem;
	color: #f4f4f4;
	font-weight: bold;
	text-decoration: none;
}

header.site-main div.header-image-main img {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 768px) {
  header.site-main div.header-image-main {
    display: none; }
  header.site-main h1 {
    padding-top: 2rem; } }

@media screen and (max-height: 768px) and (max-width: 1024px) {
  header.site-main div.header-image-main {
    display: none; }
  header.site-main h1 {
    padding-top: 2rem; } }

div.main-part {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

@media screen and (max-width: 414px) {
  div.main-part {
    flex: 1;
    display: flex;
    flex-direction: column; }
  aside div.side-menu {
    padding-left: 2rem; } }

div.main-contents {
  flex: 1;
  padding-left: 2rem;
  display: flex;
  flex-direction: column; }

div.main-contents > h1,
div.main-contents > h2 {
  text-align: center; }

div.main-contents div.article-list {
  align-self: center; }

div.article-list article {
  width: calc(100vw*0.49); }

@media screen and (max-width: 414px) {
  div.article-list article {
    width: 100vw; } }

article.main-content {
  width: calc(100vw*0.6); }

@media screen and (max-width: 414px) {
  article.main-content {
    width: 85vw; } }

@media screen and (min-width: 767px) {
  ul.horizontal-list-over767 {
    padding-left: 0px;
    text-align: left; }
  ul.horizontal-list-over767 li {
    list-style-type: none;
    display: inline;
    padding-right: 2rem; } }

aside {
  width: calc(100vw/4); }

@media screen and (max-width: 414px) {
  aside {
    width: 100%; } }

footer.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1rem; }

@media screen and (max-width: 414px) {
  footer.site-footer {
    display: flex;
    flex-direction: column; }
  footer.site-footer span {
    text-align: center; } }
